</style>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Lastname</th>
    <th>Age</th>
    <th>Email</th>
    <th>Role</th>
  </tr>
  <td th:text="${user.getId()}"></td>
  <td th:text="${user.getUsername()}"></td>
  <td th:text="${user.getLastname()}"></td>
  <td th:text="${user.getAge()}"></td>
  <td th:text="${user.getEmail()}"></td>
  <td th:text="${user.getRoleList()}"></td>
</table>

<form action="/logout">
  <button type="submit">Logout</button>
</form>

</body>
</html>

</body>

<form action="/newUser">
  <button type="submit">Add</button>
</form>
</html>